<!DOCTYPE html>
<html>
<head>
  <title>MonkeyBarrel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
        <li class="<%= 'active' if current_page?(users_path) %>"><%= link_to "Users", users_path %></li>
      </ul>
  </div>
</div>
<br />
<div class="container">
  <div class="page-header">
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}", :class => 'alert alert-success'%>
      <% end %>
    </div>
  <%= yield %>
</div>
</body>
</html>
